#Headings
{
    font-family: urbanist;
    color: #CAC8C8 ;
    font-size: 50px;
}

#sh
{
    color:#FFFFFF ;
    font-size: 30px;
    font-family: urbanist;

}

#Grey 
{
    color: #A7A7A7;
    font-size: 22px ;
    font-family: 'SF Pro Display', sans-serif;
                                                
}

*{
    background-color: #000000;
}
#same
{
    display: flex;
    gap: 10px;
    letter-spacing: -0.094em;
}

#Header
{
    border-style: solid;
background-color: #171717;
    border-color: #CBCBCB;
    display: flex;
    border-radius: 60px;
    width: 1210px;
    height: 60px;
    align-items: center;
    

    





}

#c
{
    background-color: #171717;
}

#d
{
    background-color: #171717;

}
#b
{
 font-size: 20px;
 font-family: 'SF Pro Display', sans-serif;
 border-radius: 60px;
 border: none;
margin-left: 5px ;
background-color: transparent;



}

#b2
{
    font-size: 20px;
    font-family: 'SF Pro Display', sans-serif;
    border-radius: 60px;
    border: none;
    background-color: transparent;

}

.semi-circle {
    width: 811.78px;
    height: 405.89px;
    background-color: #f79a4e;
    border-radius: 50rem 50rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items:flex-end ;

  }

  #image
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #about
  {
    margin-left: 100px
  }

  