#Headings
{
    font-family: urbanist;
    color: #CAC8C8 ;
    font-size: 50px;
}

#sh
{
    color:#FFFFFF ;
    font-size: 30px;
    font-family: urbanist;

}

#Grey 
{
    color: #A7A7A7;
    font-size: 22px ;
    font-family: 'SF Pro Display', sans-serif;
                                                
}

*{
    background-color: #000000;
}
#same
{
    display: flex;
    gap: 10px;
    letter-spacing: -0.094em;
}

#Header
{
    border-style: solid;
    border-radius: 1px;
    border-color: #FFFFFF;
    display: flex;
    border-radius: 60px;
    width: 1210px;
    height: 66px;
    align-items: center;
align-content: center;



}
#b
{
 font-size: 20px;
 font-family: 'SF Pro Display', sans-serif;

}

#b2
{
    font-size: 20px;
    font-family: 'SF Pro Display', sans-serif;
}